{% extends "tribe/base_tribe.html" %}

{% block title %}
    <title>Revent Overview - Gamechanger Tribe Tracker</title>
{% endblock %}

{% block content %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% if user.is_authenticated or logginbypass %}
    {% endif %}

    {# Create revent link #}
    <p><a href="{% url 'tribe:revent-add' %}">+ Add new Revent...</a></p>

    {# List of revents #}
    {% if revents %}
        <table>
            <thead>
                <th>Name</th>
                <th>Notes</th>
                <th>Roles</th>
                <th>Location</th>
                <th>Contact</th>
            </thead>
            {% for revent in revents %}
                <tr>
                    <td> {# Name #}
                        <p>{{ revent.name }}</p>
                        <!--div style='text-align:center; vertical-align:bottom; color:#000080'><br/><a href="{% url 'tribe:revent-update' revent.id %}">[Edit]</a></div-->
                    </td>
                    <td> {# Notes #}
                        <ul>
                            {% for note in notes|dict_key:revent.id %}
                                <li>{{ note.1|date:'Y-m-d' }}: {{ note.2 }}</li>
                            {% endfor %}
                        </ul>
                        <!--div style='text-align:center; vertical-align:bottom; color:#000080'><br/><a href="{% url 'tribe:reventnote-list' revent.id %}">[Edit]</a></div-->
                    </td>
                    <td> {# Roles #}
                        <ul>
                            {% for role in roles|dict_key:revent.id %}
                                <li>{{ role.1 }}: <a href="% url 'tribe:role-list' revent.pk %">{{ role.3 }}</a></li>  
                            {% endfor %}
                        </ul>
                        <!--div style='text-align:center; vertical-align:bottom; color:#000080'><br/><a href="{% url 'tribe:role-list' revent.id %}">[Edit]</a></div-->
                    </td>
                    <td> {# Location, Country #}
                        {{ revent.in_location.name }}
                        <br/>{{ revent.in_country.name }}
                        <!--div style='text-align:center; vertical-align:bottom; color:#000080'><br/><a href="{% url 'tribe:location-view' revent.id %}">[Edit]</a></div-->
                    </td>
                    <td> {# Contact #}
                        <ul>
                            {% for contact in contacts|dict_key:revent.id %}
                                {% if contact.3 %}
                                    <li><a href="{{ contact.2 }}">{{ contact.1 }}</a></li>
                                {% else %}
                                    <li>{{ contact.1 }}: {{ contact.2 }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        <!--div style='text-align:center; vertical-align:bottom; color:#000080'><a href="{% url 'tribe:contactinfo-list' revent.id %}">[Edit]</a></div-->
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style='text-align:center; vertical-align:bottom; color:#000080'><a href="{% url 'tribe:revent-update' revent.id %}">[Edit]</a></div>
                    </td>
                    <td>
                        <div style='text-align:center; vertical-align:bottom; color:#000080'><a href="{% url 'tribe:reventnote-list' revent.id %}">[Edit]</a></div>
                    </td>
                    <td>
                        <div style='text-align:center; vertical-align:bottom; color:#000080'><a href="{% url 'tribe:role-list' revent.id %}">[Edit]</a></div>
                    </td>
                    <td>
                        <div style='text-align:center; vertical-align:bottom; color:#000080'><a href="{% url 'tribe:location-view' revent.id %}">[Edit]</a></div>
                    </td>
                    <td>
                        <div style='text-align:center; vertical-align:bottom; color:#000080'><a href="{% url 'tribe:contactinfo-list' revent.id %}">[Edit]</a></div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No Revents are available yet.</p>
    {% endif %}
{% endblock %}

