{% extends "base_generic.html" %}

{% block title %}
    <title>Role List - Gamechanger Tribe Tracker</title>
{% endblock %}

{% block content %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% if user.is_authenticated or logginbypass %}
    {% endif %}

    {# The return to the revent list link #}
    <p><a href="{% url 'tribe:revent' %}">Back to the overview</a></p>

    {# Revent context info #}
    <h1>Roles for {{ revent.name }}</h1>

    {# Create role link #}
    <p><a href="{% url 'tribe:role-add' revent.pk %}">+ Add new Role...</a></p>

    {# The list of roles #}
    <ul>
        {% for role in role_list %}
            <li><a href="{% url 'tribe:role-update' role.pk %}">{{ role.role_type }}</a>: {{ role.person }}</li>
        {% empty %}
            <li>No roles yet.</li>
        {% endfor %}        
    </ul>
{% endblock %}
