{% extends "base_generic.html" %}

{% block title %}
    <title>Role Detail - Gamechanger Tribe Tracker</title>
{% endblock %}

{% block content %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% if user.is_authenticated or logginbypass %}
    {% endif %}

    {# The return to the revent list link #}
    <p><a href="{% url 'tribe:revent' %}">Back to the overview</a></p>

    {# The return to the role list link #}
    <p><a href="{% url 'tribe:role-list' revent.pk %}">Back to the roles list</a></p>

    {# Revent context info #}
    <h1>Roles for {{ revent.name }}</h1>

    {# Create reventnote button #}
    <p><a href="{% url 'tribe:role-add' revent.pk %}">+ Add new Role...</a></p>

    {# The update form #}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Update">
    </form>
    {% if role.pk %}
        <form action="{% url 'tribe:role-delete' role.pk %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Delete...">
        </form>
    {% endif %}
{% endblock %}

