{% extends "base_generic.html" %}

{% block title %}
    <title>Contacts Overview - Gamechanger Action Tracker</title>
{% endblock %}

{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<div>
  {% for country, regioncontacts in contacts_region_dict.items %}
    <div id="{{country.0}}" class="regionbrick">
      <div style="height: 100%;">
        <h2 class="regionbricktitle">
          {% if country.1 > -1 %}
            <a href="{% url 'action:geo_view' country.1 %}">{{country.0}}</a>
          {% else %}
            {{country.0}}
          {% endif %}
        </h2>
      </div>
      <div style="float: right; width: 4em; padding:0;margin: 1em 0;">
        {% if regioncontacts.items|length > 1 %}
          <input id="collapse_{{country.0}}" class="collapsebutton" {% if autocollapse %}value="+"{% else %}value="-"{% endif %} type="button" onclick="toggleTable('{{country.0}}')"/>
        {% endif %}
      </div>
      <div style="margin-right: 4em;">
        {% for region, contacts in regioncontacts.items %}
          {% if region == country %}
            <ul>
              {% for contact in contacts %}
                <li class="contact_link">
                  {% if contact.organization.id > -1 %}
                    <a href="{% url 'action:organization_view' contact.organization.id %}">{{contact.organization}}</a>:
                  {% elif contact.organizationTitle %}
                    {{contact.organizationTitle}}:
                  {% endif %}
                  <a href="{{contact.url}}" target="_blank" title="{{contact.info}}"><!--{{contact.contacttype}}--><img src="{{contact.icon}}" alt="{{contact.contacttype}}"/></a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endfor %}
      </div>        
      {% if regioncontacts.items|length > 1 %}
        <table id="table_{{country.0}}" class="regionbricktable" {% if autocollapse %}style="display: none;"{% else %}style="display: block;"{% endif %}>
          <thead class="fillwidth">
            <tr class="fillwidth">
              <th class="td_display_region">Region</th>
              <th>Contact</th>
            </tr> 
          </thead>
          <tbody class="fillwidth">
            {% for region, contacts in regioncontacts.items %}
              {% if region != country %}
                <tr class="fillwidth">
                  <td>
                    {% if region.in_location %}
                      <!--{{region.in_location}}-->
                    {% endif %}
                    {% if region.1 > -1 %}
                      <a href="{% url 'action:geo_view' region.1 %}">{{region.0}}</a>
                    {% else %}
                      {{region.0}}
                    {% endif %}
                  </td>
                  <td class="td_display_contact">
                    <ul>
                      {% for contact in contacts %}
                        <li class="contact_link">
                          {% if contact.organization.id > -1 %}
                            <a href="{% url 'action:organization_view' contact.organization.id %}">{{contact.organization}}</a>:
                          {% elif contact.organizationTitle %}
                            {{contact.organizationTitle}}:
                          {% endif %}
                          <a href="{{contact.url}}" target="_blank" title="{{contact.info}}"><!--{{contact.contacttype}}--><img src="{{contact.icon}}" alt="{{contact.contacttype}}"/></a>
                        </li>
                      {% endfor %}
                    </ul>
                  </td>
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>
  {% endfor %}
</div>
<script>
  function toggleTable(region){
    table = document.getElementById(region).getElementsByTagName('table')[0];
    button = document.getElementById('collapse_'+region);
    if (table.style.display != 'none'){
      table.style.display = 'none';
      button.value='+';
    }else{
      table.style.display = 'block'
      button.value='-';
    }
  }
</script>

<style>
  .fillwidth{
    width: 100%;
  }

  .collapsebutton{
    float: right;
    /*padding: 0.05em 0.25em !important;*/
    margin: auto 0.25em !important;
    font-size: 2em !important;
  }

  .regionbrick{
    overflow: hidden;

    margin-bottom: 2em; 
    background-color: whitesmoke; 
    border-radius: 12px;
    display: block;
    
    height: fit-content;
    min-height: 3em;
    /*width: fit-content;*/
    margin: 1em auto;
    width: 66%;
    padding: 1em; 
    padding-top: 0.01em;
  }

  .regionbricktitle{
    float:left;
    margin-right: 2em;
  }

  .regionbricktable{
    width: 100%;
    display: block;
  }

  .regionbrick table{
    width: 100%;
    overflow: hidden;
    display: block;
  }

  .regionbrick img{
    min-height: 32px;
    min-width: 32px;
  }

  .regionbrick td{
    height: 2em;
    overflow: hidden;
  }

  .td_display_region{
    /*width: 10%;*/
    width: 1%;
    text-align: center;
    height: 3em;
  }

  .td_display_org{
    /*width: 30%;*/
    width: 30%;
  }
  .td_display_contact{
    /*width: 60%;*/
    width: 100%;
  }

  .contact_link{
    /*float: right;*/
    /**/float: left;/**/
    padding: 1em 1.5em;
    list-style-type: none;
    padding-left: 0%;
    /*margin-left: 1em;*/
    /*margin-left: 1em;*/
    /*height: 4em;*/
  }

  .external_link_icon{
    height: 1em;
    position: relative;
    top:-10px;
  }
</style>

{% endblock %}