{% extends "base_generic.html" %}

{% block title %}
    <title>Event Overview ({{gathering.regid}}) - Gamechanger Action Tracker</title>
{% endblock %}

{% block content %}
  {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
  {% if user.is_authenticated or logginbypass %}
  {% if gathering %}
    <div>
      <h2>Event <input type="button" value="Copy Event Link" onclick="navigator.clipboard.writeText(window.location)" /></h2>
      {% with event_list=event_main event_head=event_main_head %}
        {% include 'event_list.html' %}
      {% endwith %}
    </div>
    <div>
      {% if event_record_list %}
        <h2>Event Record List</h2>
        {% with event_list=event_record_list event_head=event_record_head %}
          {% include 'event_list.html' %}
        {% endwith %}
      {% else %}
      <p>No Records for this Event</p>  
      {% endif %}
    </div>
  {% endif %}
  {% endif %}
{% endblock %}