{% extends "base_generic.html" %}

{% block title %}
  <title>Event Record - Gamechanger Action Tracker</title>
{% endblock %}

{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


<style>
  th{text-align: left;padding-left: 10px;}
  .contact { background-color: #FFEEEE; }
</style>
{% if is_gathering %}
  {% if gathering %}
    <h1>Update (Recurring) Event</h1>
  {% else %}
    <h1>Register New (Recurring) Event</h1>
  {% endif %}
  <form action="{% url 'action:geo_post' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="is_gathering" value="True"/>
    <input type="hidden" name="gathering" value="{{gathering}}"/>
    <input type="hidden" name="computed_end_date" value="{{gathering.end_date|date:'Y-m-d'}}"/>
    <table class="table-sort-mark">
      <tr title="What kind of event is this?">
        <th>Event Type *</th>
        <td>
          <select required name="gathering-type" class="i-can-add-my-own-attrs-now">
            {% for id, name in gathering_types %}
              <option value="{{id}}" {% if gathering.gathering_type == id %}selected{% endif %}>{{name}}</option>
            {% endfor %}
            </select>
        </td>
      </tr>
      <tr title="In which city/town/area is this event taking place?">
        <th>Location *</th>
        <td>
          <select required name="locid" data-minimum-input-length="3" data-autocomplete-light-language="en" data-autocomplete-light-url="/action/location-autocomplete/" data-autocomplete-light-function="select2">
            <option value="{{location.id}}" selected>{{location.name}}</option>
          </select>
        </td>
      </tr>
      <tr title="When is the event taking place? When is the first event, if repeating several weeks?">
        <th>Date (YYYY-MM-DD) *</th>
        <td>
          <input required type="date" name="date" value="{{gathering.start_date|date:'Y-m-d'}}" id="start_date" onchange="WeeksDisplayUpdate()"/>
          ..
          <input disabled type="date" name="end_date" value="{{gathering.end_date|date:'Y-m-d'}}" id="end_date"/>
        </td>
      </tr>
      <tr title="How many times, once a week, will the event repeat?">
        <th>Weeks Recurring *</th>
        <td>
          <span style="float: left; margin: auto; display:block; width: 20px;" id="weeksdisplay">{{initial_weeks}}</span>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <input required type="range" id="weeks" name="weeks" value="{{initial_weeks}}" min="0" max="26" oninput="WeeksDisplayUpdate()" onchange="check_unsaved()"/>
        </td>
        <script>
          var weeks = document.getElementById("weeks");
          var weeksDisplay = document.getElementById("weeksdisplay");
          var start_date = document.getElementById("start_date");
          var end_date = document.getElementById("end_date");
          var computed_end_date = document.getElementById("computed_end_date");
          Date.prototype.addDays = function(days) {
            var date = new Date(this.valueOf());
            date.setDate(date.getDate() + days);
            return date;
          }
          function WeeksDisplayUpdate(){
            weeksDisplay.innerHTML = weeks.value;
            new_end_date = new Date(start_date.value).addDays(7 * weeks.value)
            end_date.valueAsDate = new_end_date
            computed_end_date.valueAsDate = new_end_date
          }
        </script>
      </tr>
      <tr title="What time of day should people come to the event?">
        <th>Time of day to meet each time</th>
        <td>
          <input type="time" id="time" name="time" value="{{gathering.time}}"/>
        </td>
      </tr>
      <!--tr title="For at least how long time will the event go on (each time)?">
        <th>Duration of meeting each time</th>
        <td>
          <input type="text" id="duration" name="duration" value="{{gathering.duration}}"/>
        </td>
      </tr-->
      <tr title="Where in the city/town/area should people come?">
        <th>Place to meet</th>
        <td>
          <input type="text" id="address" name="address" value="{{gathering.address}}" size="60"/>
        </td>
      </tr>
      <tr title="Guess how many people will turn up (each time)?">
        <th>Expected Participants *</th>
        <td>
          <input required type="number" name="participants" value="{{gathering.expected_participants}}" min="1"/>
        </td>
      </tr>
      <tr title="If there is an organization arranging this event, which one is it? If multiple, pick one.">
        <th>Organization</th>
        <td>
          <select name="organization" data-minimum-input-length="3" id="id_organization" data-autocomplete-light-language="en" data-autocomplete-light-url="/action/organization-autocomplete/" data-autocomplete-light-function="select2">
            {% if organization %}
              <option value="{{organization.id}}" selected>{{organization.name}}</option>
            {% else %}
              <option value="{{gathering.organizations.first.id}}" selected>{{gathering.organizations.first.name}}</option>
            {% endif %}
          </select>
        </td>
      </tr>
      <tr title="Is there a web page announcing this event? Provide the link here.">
        <th>Announce Link</th>
        <td>
          <input  type="url" name="event_link" value="{{gathering.event_link_url}}" size="60"/>
        </td>
      </tr>
      <tr title="Contact details are used by our staff to contact you.">
        <th>Contact details</th>
        <td class="contact">
          Fill in contact details below, at least email. Use a nickname/alias if you wish.
        </td>
      </tr>
      <tr title="What is your name (or nickname)? It's fine to leave blank or use an alias.">
        <th>Contact Name</th>
        <td class="contact">
          {% if gathering.contact_name|first in '@' %}
            <input type="text" name="contact_name" value='@*******' size="60" class="contact"/>
            &nbsp;{{gathering.contact_name|slice:"1:6"}}
          {% else %}
            <input type="text" name="contact_name" value="{{gathering.contact_name}}" size="60" class="contact"/>
          {% endif %}
        </td>
      </tr>
      <tr title="What is your email address? This is the primary way our staff will contact you.">
        <th>Contact Email *</th>
        <td class="contact">
          {% if gathering.contact_email|first in '@' %}
            <input type="text" name="contact_email" value='@*******' size="60" class="contact"/>
            &nbsp;{{gathering.contact_email|slice:"1:6"}}
          {% else %}
            <input required type="text" name="contact_email" value="{{gathering.contact_email}}" size="60" class="contact"/>
          {% endif %}
        </td>
      </tr>
      <!--tr>
        <th>Contact Notes </th>
        <td class="contact">
          <input type="text" name="contact_notes" value="{{gathering.contact_notes}}" size="60" class="contact"/>
        </td>
      </tr-->
      <tr title="Do you want your email address to show up on public maps and lists?">
        <th>Email visible on map</th>
        <td class="contact">
          <div class="contact">
            <label><input checked type="radio" value="no" name="visibility" {% if not email_visible %}checked{% endif %}/>No</label>
            <label><input type="radio" value="yes" name="visibility" {% if email_visible %}checked{% endif %}/>Yes</label>
          </div>
          If yes, using a separate email (not a personal or professional one) is recommended.
        </td>
      </tr>
      <tr title="What is your phone number? This is a backup way for our staff to contact you.">
        <th>Contact Phone </th>
        <td class="contact">
          {% if gathering.contact_phone|first in '@' %}
            <input type="text" name="contact_phone" value='@*******' size="60" class="contact"/>
            &nbsp;{{gathering.contact_phone|slice:"1:6"}}
          {% else %}
            <input type="text" name="contact_phone" value="{{gathering.contact_phone}}" size="60" class="contact"/>
          {% endif %}
          </td>
      </tr>
      <tr title="Who is the event coordinator? Leave blank if unknown.">
        <th>Coordinator</th>
        <td>
          <select name="coordinator"  placeholder="Coordinator for this event">
            <option value="">None</option>
            {% for crd in stewards %}
              <option value="{{crd.pk}}" {% if crd.pk == gathering.coordinator.pk %}selected{% endif %}>{{crd.alias}}</option>
            {% endfor %}
          </select>
        </td>
      </tr>
      <tr title="Who is your event steward? Leave blank if unknown.">
        <th>Steward</th>
        <td>
          <select name="steward"  placeholder="Steward for this event">
            <option value="">None</option>
            {% for stw in stewards %}
              <option value="{{stw.pk}}" {% if stw.pk == gathering.steward.pk %}selected{% endif %}>{{stw.alias}}</option>
            {% endfor %}
          </select>
        </td>
      </tr>
      <tr title="Who is your event guide? Leave blank if unknown.">
        <th>Guide</th>
        <td>
          <select name="guide"  placeholder="Guide for this event">
            <option value="">None</option>
            {% for gde in stewards %}
              <option value="{{gde.pk}}" {% if gde.pk == gathering.guide.pk %}selected{% endif %}>{{gde.alias}}</option>
            {% endfor %}
          </select>
        </td>
      </tr>
      <tr>
        <th>
          Register
        </th>
        <td>
          {% if user.is_authenticated  == user.is_authenticated %}
          <input type="submit" value="Save"/>
          {% endif %}
          By clicking Save, you agree the event information will be publicly available.<br/>
          Contact information will be kept to staff only, except email, depending on your choice.
        </td>
      </tr>
    </table>
  </form>
{% else %}
  {% if gathering %}
    {% if is_one_more %}
      <h1>Add Event Record</h1>
    {% else %}
      <h1>Update Event Record</h1>
    {% endif %}
    <h2>Event Registration</h2>
    <ul>
      <li>Type: <span>{{gathering.get_gathering_type_str}}</span></li>
      <li>Location: <span>{{location.name}}</span></li>
      {% if gathering.start_date != gathering.end_date %}
      <li>Date: from <span>{{gathering.start_date|date:'Y-m-d'}}</span> to <span>{{gathering.end_date|date:'Y-m-d'}}</span></li>
      {% else %}
      <li>Date: <span>{{gathering.start_date|date:'Y-m-d'}}</li>
      {% endif %}
      <form action="{% url 'action:geo_update' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" value="True" name="is_gathering"/>
        <input type="hidden" value="{{gathering.regid}}" name="regid"/>
        <input type="hidden" value="{{gathering.location.id}}" name="locid"/>
        <input type="submit" value="Edit"/>
      </form>
    </ul>
    <table class="table-sort-mark">
      <tr>  
        <form action="{% url 'action:geo_post' %}" method="POST">
          {% csrf_token %}
          <input type="hidden" name="is_gathering" value="False"/>
          <input type="hidden" name="is_one_more" value="{{is_one_more}}"/>
          <input type="hidden" name="regid" value="{{gathering.regid}}"/>
          <input type="hidden" name="locid" value="{{location.id}}"/>
          <input type="hidden" name="witness" value="{{witness.pk}}"/>
          <input type="hidden" name="next_url" value="{{next_url}}"/>
          {% if user.is_authenticated and not is_one_more %}
            <div style="display: inline">
              <input type="button" name="enable_delete" value="Delete this event from Gamechanger"
                onclick='
                  var x = document.getElementById("do_delete_event");
                  if (x.style.display === "none") {
                    x.style.display = "inline";
                  } else {
                    x.style.display = "none";
                  }'/>
              <input type="submit" id="do_delete_event" name="do_delete_event" value="Click to confirm deletion" style="color: red; display: none" />
            </div>
          {% endif %}
          <th>Date (YYYY-MM-DD) *</th>
          <td>
            <input required type="date" name="date" value="{% if ghost_date %}{{ghost_date}}{% else %}{% if is_one_more %}{% else %}{{witness.date|date:'Y-m-d'}}{% endif %}{% endif %}"/>
          </td>
        </tr>
        <tr>
          <th>Participants *</th>
          <td>
            <input required type="number" name="participants" value="{% if is_one_more %}{% else %}{{witness.participants}}{% endif %}" min="1"/>
          </td>
        </tr>
        <tr>
          <th>Organization</th>
          <td>
            <select name="organization" data-minimum-input-length="3" id="id_organization" data-autocomplete-light-language="en" data-autocomplete-light-url="/action/organization-autocomplete/" data-autocomplete-light-function="select2">
              {% if witness %}
                <option value="{{witness.organization.id}}" selected>{{witness.organization.name}}</option>
              {% else %}
                <option value="{{gathering.organizations.first.id}}" selected>{{gathering.organizations.first.name}}</option>
              {% endif %}
            </select>
          </td>
        </tr>
        <tr>
          <th>Record Link</th>
          <td>
            <input type="url" name="proof_url" value="{% if is_one_more %}{% else %}{{witness.proof_url}}{% endif %}" placeholder="(optional) Share a photo collection from the event!" size="60"/>
          </td>
        </tr>
        <tr>
          <th>Coordinator</th>
          <td>
            <select name="coordinator" placeholder="(optional) Name of the coordinator for this event">
              <option value="">None</option>
              {% for crd in stewards %}
                <option value="{{crd.pk}}" 
                  {% if witness.coordinator %}
                    {% if crd.pk == witness.coordinator.pk %}selected{% endif %}
                  {% else %}
                    {% if crd.pk == gathering.coordinator.pk %}selected{% endif %}
                  {% endif %}>{{crd.alias}}</option>
              {% endfor %}
            </select>
          </td>
        </tr>
        <tr>
          <th>Steward</th>
          <td>
            <select name="steward" placeholder="(optional) Name of the steward for this event">
              <option value="">None</option>
              {% for stw in stewards %}
                <option value="{{stw.pk}}" 
                  {% if witness.steward %}
                    {% if stw.pk == witness.steward.pk %}selected{% endif %}
                  {% else %}
                    {% if stw.pk == gathering.steward.pk %}selected{% endif %}
                  {% endif %}>{{stw.alias}}</option>
              {% endfor %}
            </select>
          </td>
        </tr>
        <tr>
          <th>Guide</th>
          <td>
            <select name="guide" placeholder="(optional) Name of the guide for this event">
              <option value="">None</option>
              {% for gde in stewards %}
                <option value="{{gde.pk}}" 
                  {% if witness.guide %}
                    {% if gde.pk == witness.guide.pk %}selected{% endif %}
                  {% else %}
                    {% if gde.pk == gathering.guide.pk %}selected{% endif %}
                  {% endif %}>{{gde.alias}}</option>
              {% endfor %}
            </select>
          </td>
        </tr>
        <tr>
          <th>
            Register
          </th>
          <td>
            {% if user.is_authenticated == user.is_authenticated %}
            <input type="submit" value="Save"/>
            {% endif %}
            By clicking Save, you agree the event information will be publicly available.
          </td>
        </tr>
      </table>
    </form>
  {% else %}
    <p>Location {{location.name}} does not yet have any associated event details.</p>
  {% endif %}
{% endif %}
{% if gathering %}
  <sub>* Required</sub>
{% endif %}

<script type="text/javascript">
  // For XHTML: <![CDATA[
  
  //ATTRIBUTES: [oninput="check_unsaved()", onchange="check_unsaved()"]
  function show_unsaved(show) {
    if(show) {
      document.getElementById("save_changes").style.display = "inline-block";
      document.getElementById("form").style.backgroundColor = "#ffeeee";
      document.getElementById("favorite").style.display = "none";
    } else {
      document.getElementById("save_changes").style.display = "none";
      document.getElementById("form").style.backgroundColor = "";
      document.getElementById("favorite").style.display = "inline-block";
    }
  }
  function check_unsaved() {
  }
  // For XHTML: ]]>
</script>

{% endblock %}