{% extends "base_generic.html" %}

{% block title %}
      <title>Reports for {{ this_location.name }} - Gamechanger Action Tracker</title>
{% endblock %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.full.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>  
<!--3search-->
<link href="/static/admin/css/vendor/select2/select2.min.css" type="text/css" media="screen" rel="stylesheet">
<link href="/static/admin/css/autocomplete.css" type="text/css" media="screen" rel="stylesheet">
<link href="/static/autocomplete_light/select2.css" type="text/css" media="screen" rel="stylesheet">
<script src="/static/admin/js/vendor/select2/select2.full.js"></script>
<script src="/static/autocomplete_light/autocomplete_light.min.js"></script>
<script src="/static/autocomplete_light/select2.min.js"></script>
<script src="/static/autocomplete_light/i18n/en.js"></script>
  
  <h1>
    Invalid Location Link
  </h1>
  <br>
  <h2>Search for Location:</h1>
  <form action="{% url 'action:geo_search' %}" method="post" id="searchform">
    {% csrf_token %}
    <select name="location" data-minimum-input-length="3" id="id_location" data-autocomplete-light-language="en" data-autocomplete-light-url="/action/location-autocomplete/" data-autocomplete-light-function="select2">
      <option value="None" selected>None</option>
    </select>
    <input type="submit" value="Search" />
  </form>
  <br>
  <br>
  <h3>
    <a href="{% url 'action:start' %}">Go to Start Page ↩</a>
  </h3>

{% endblock %}