{% extends "base_generic.html" %}

{% block title %}
  <title>Records for {{ this_location.name }} - Gamechanger Action Tracker</title>
{% endblock %}

{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

  <div style="width: 100%; float:right;">
    <h1 style="float: left; margin: auto;">Records for {{ this_location.name }}</h1>
    {% if user.is_authenticated %}
    <form style="float: left; margin-left: 0.5em; margin-right: 0.5em;" action="" method="post">
      {% csrf_token %}
      <div class="favoriteform" style="white-space:nowrap; display:inline-block;">
        {% if favorite_location == 'True' %}
          <input type="submit" name="favorite" id="favorite" value="Remove from Favorites" style="color:red; display: inline-block;"/>
        {% else %}
          <input type="submit" name="favorite" id="favorite" value="Add to Favorites" style="color:green; display: inline-block;"/>
        {% endif %}
      </div>
    </form>
    {% endif %}
    <div style="float: left; margin-bottom: 1.5em;">
      <p style="margin-top:0.35em;">
        {% if parent_location %}
          {% if parent_location.id > 0 %}
            &nbsp;&nbsp;in <a href="{% url 'action:geo_view' parent_location.id %}">{{ parent_location.name }}</a>
          {% else %}
            <a>Unknown</a>
          {% endif %}
        {% else %}
        <p style="margin-left: -25.95em; margin-top: -0.5em;">.</p>
        {% endif %}
      </p>
    </div>
  </div>

  {% if sublocation_list %}
    <h2>{{ sublocation_list|length }} locations within {{ this_location.name }}</h2>

      <ul style="float: left; margin-bottom: 2em; width: 100%;">
        {% for sublocation in sublocation_list %}
        <li style="float: left; margin-left: 1.5em; margin-bottom: 0.5em;">
          <a href="{% url 'action:geo_view' sublocation.id %}">{{ sublocation }}</a>
        </li>
        {% endfor %}
      </ul>
      
    <h2>Direct Records for {{ this_location.name }} in addition to the locations above</h2>
  {% endif %}

  <h2>Records</h2>
  {% if event_list %}
    <p>{{ event_list|length }} events with a total of {{ total_participants }} 
    recorded participants</p>
  {% else %}
    <p>No results registered yet.</p>
  {% endif %}

  {% if event_list %}
    <form action="{% url 'action:geo_update' %}" method="POST">
      {% csrf_token %}
      <input type="hidden" value="True" name="isnewevent"/>
      <input type="hidden" value="{{this_location.id}}" name="locid"/>
      <input type="submit" value="Register New (Recurring) Event" style="background-color:#A5A51D !important"/>
    </form>
    <br/>
  {% endif %}

  {% with event_list=event_list %}
    {% include 'event_list.html' %}
  {% endwith %}
{% endblock %}

{% block adminpanel %}
    <form action="{% url 'action:af_mark_as_duplicate' %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="duplicate" value="{{this_location.id}}" />
      <label>Duplicate Prime location</label>
      <input type="number" name="prime" />
      <br />
      <input type="submit" value="Submit Duplicate" />
    </form>
{% endblock %}