{% extends "base_generic.html" %}

{% block title %}
      <title>Reports {{ this_location.name }} - Gamechanger Action Tracker</title>
{% endblock %}

{% block content %}
  <h1>{{ this_location.name }}</h1>
  <p>
    {% if parent_location %} in 
      <a href="{% url 'action:geo_view' parent_location.id %}">{{ parent_location.name }}</a>
    {% endif %}

  {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

  {% if sublocation_list %}
    <h2>{{ sublocation_list|length }} locations within {{ this_location.name }}</h2>

    <p>
      {% for sublocation in sublocation_list %}
        <a href="{% url 'action:geo_view' sublocation.id %}">{{ sublocation }}</a> &nbsp;&nbsp;&nbsp; 
      {% endfor %}
    </p>
  {% endif %}

  {% if sublocation_list %}
    <h2>Direct Reports for {{ this_location.name }} in addition to the locations above</h2>
  {% else %}
    <h2>Reports</h2>
  {% endif %}
  {% if witness_list %}
    <p>{{ witness_list|length }} events with a total of {{ total_participants }} reported participants</p>
    <div class="gathering">
      <table>
        <tr>
          <th>Date</th>
          <th>RegID</th>
          <th>Participants</th>
          <th>Photos</th>
          <th>Host</th>
        </tr>
        {% for witness in witness_list %}
          <tr>
            <td><a href="{% url 'action:geo_update' witness.id %}">{{ witness.date|date:'Y-m-d' }}</a></td>
            <td><small>{{ witness.gathering.regid }}</small></td>
            <td style="text-align: right;">
              {% if witness.participants %}
                {{ witness.participants }}
              {% else %}
                ?
              {% endif %}
            </td>
            <td>
              {% if witness.proof_url %}
                <a href="{{ witness.proof_url }}">Photo</a>
              {% endif %}
            </td> 
            <td>
              {% if witness.organization %}
                <small>{{ witness.organization }}</small>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  {% else %}
    <p>No results registered yet.</p>
  {% endif %}
{% endblock %}