{% extends "base_generic.html" %}

{% block title %}
      <title>Records for {{ this_location.name }} - Gamechanger Action Tracker</title>
{% endblock %}

{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
  
  <h1>
    Invalid Location Link
  </h1>
  <h3>
    <ul>
      <li>
        <a href="{% url 'action:locations_list' %}">Location List ↩</a>
      </li>
      <li>
        <a href="{% url 'action:start' %}">Go to Start Page ↩</a>
      </li>
    </ul>
  </h3>
{% endblock %}