{% extends "base_generic.html" %}

{% block title %}
      <title>How To - Gamechanger Action Tracker</title>
{% endblock %}

{% block content %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <h1>How To</h1>
    <br>

    <div>
        <h2>Reporting</h2>
        <hr>
        <p>
            Add Gathering:

            Gathering Witness:
        </p>
        <hr>
        <br>
    </div>

    <div>
        <h2>Header Links</h2>
        <hr>
        <p>
            Start:

            Locations:

            Reports:
        </p>
        <hr>
        <br>
    </div>

    <div>
        <h2>Contact</h2>
        <hr>
        <p>
            Twitter support:

            Slack support:
        </p>
        <hr>
        <br>
    </div>


{% endblock %}