{% extends "base_generic.html" %}

{% load static %}

{% block content %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.full.js"></script>

  {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

  {% if user.is_authenticated %}
    <p>Home of</p>
    <h1>{{ userhome.screenname }}</h1>
    <h2>Your Stats</h2>
    <table>
      <tr><td>Visibility:</td><td>{{ visibility }}</td></tr>
      <tr><td>Level:</td><td>1</td></tr>
      <tr><td>Reports:</td><td>47</td></tr>
      <tr><td>Trust:</td><td>10</td></tr>
      <tr><td>Friends:</td><td>0</td></tr>
    </table>
    <hr/>
    <table>
      <tr>
        <td>
          <h2>Favorite Locations</h2>
          {% if favorites_list %}
            <table>
              <thead>
                <td>Total</td>
                <td>Last Week</td>
                <td>Location</td>
              </thead>
              {% for loc in favorites_list %}
                <tr>
                  <td>{{ loc.total }}</td>
                  <td>{{ loc.last_week }}</td>
                  <td><a href="{% url 'action:report_results' loc.regid %}">{{ loc.name }}</a></td>
                </tr>
              {% endfor %}
            </table>
          {% else %}
            <p>No favorite locations yet.</p>
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>
          <h2>Recent Locations</h2>
          {% if recents_list %}
            <table>
              <thead>
                <td>Total</td>
                <td>Last Week</td>
                <td>Location</td>
              </thead>
              {% for loc in recents_list %}
                <tr>
                  <td>{{ loc.total }}</td>
                  <td>{{ loc.last_week }}</td>
                  <td><a href="{% url 'action:report_results' loc.regid %}">{{ loc.name }}</a></td>
                </tr>
              {% endfor %}
            </table>
          {% else %}
            <p>No recent locations yet.</p>
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>
          <h2>Location Search</h2>
          <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            {{ form.media }}
            <input type="submit" value="Open">
          </form>
          <p><a href="{% url 'action:gathering_search' %}">Advanced Search</a></p>
          <p><a href="{% url 'action:gathering_create' %}">Register new Event</a></p>
        </td>
      </tr>
    </table>
  {% else %}
    <h1>Login or Join Us?</h1>
    <table>
      <tr>
        <td><input type="submit" name="login" value="Login"/></td>
        <td><input type="submit" name="join_us" value="Join Us"/></td>
      </tr>
    </table>
  {% endif %}
{% endblock %}