{% extends "base_generic.html" %}

{% block title %}
      <title>Join Us - Gamechanger Action Tracker</title>
{% endblock %}

{% block content %}

  {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

  {% if user.is_authenticated %}
  <h1>Welcome back, {{ user.get_username }}</h1>
  <p><strong>You are about to create a new account. Since you are already logged in, you already have an account. If you aren't {{ user.get_username }}, just click Logout above, and then Join Us.</strong></p>
  {% else %}

  <h1>Join Us</h1>

  <form action="{% url 'action:join_us' %}" method="post" id="form">
    {% csrf_token %}
    <table>
      <tr>
        <td><input placeholder="Invitation Code" type="text" name="invitation_code" value="" required minlength="5" maxlength="10"/></td>
        <td><p>The personal code you got from whoever invited you.</p></td>
      </tr>
      <tr>
        <td><input placeholder="Pick a Callsign" type="text" name="screenname" value="" required minlength="5" maxlength="25"/><!--oninput="check_available()"--></td>
        <td><p>The name you want to be called on this site. At least 5 characters, no spaces. E.g. "Nemo-the-fish" or "Hubei"</p></td>
      </tr>
      <tr>
        <td><input placeholder="Pick a Password" type="password" name="password" value="" required minlength="10" maxlength="25"/><!--oninput="check_strength()"--></td>
        <td><p>The password for your account. At least 10 characters.</p></td>
      </tr>
      <tr>
        <td colspan="2">
          <select required name="visibility" id="visibility">
            <option value="SIGN">Callsign only, no other information is visible</option>
            <option value="PRIV">Callsign, Country, State, Zip code and Org are visible</option>
            <option value="FRND">As above, plus email-address visible to friends</option>
            <option value="PUBL">As above, plus email-address visible to all</option>
            <option value="OPEN">All contact information you provide is visible to all</option>
          </select>
        </td>
      </tr>
      <tr>
        <td colspan="2">
			Select Visibility - Control how much information about yourself is visible to others. You don't have to state your geographic location or share your email-address if you don't want to. All you have to do is to pick an available Callsign.
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <br>
		  <input type="submit" value="Create Account"/>
          <p>There is <strong>currently no way</strong> to recover a lost password, so please keep it safe.</p>
        </td>
      </tr>
    </table>
  </form>
  {% endif %}
{% endblock %}