{% extends "base_generic.html" %}

{% block title %}
      <title>Location Overview {% if sublocation_parent %} of {{ sublocation_parent }}{% endif %} - Gamechanger Action Tracker</title>
{% endblock %}

{% block content %}

{% if not location and not sublocation_parent and locations %}
  <h1>Multiple locations found</h1>
{% elif not location and not sublocation_parent %}
  <h1>No such location found</h1>
{% else %}
  <h1>Location Overview {% if sublocation_parent %} of {{ sublocation_parent }}{% endif %}</h1>
  {% if sublocation_parent and sublocation_parent.in_location %}
    <p>in <a href="{% url 'action:geo_view' sublocation_parent.in_location.id %}">
      {{ sublocation_parent.in_location.name }}</a>
    </p>
  {% endif %}
{% endif %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% if locations %}
  <table>
    <thead>
      <td>Location</td>
    </thead>
    {% for loc in locations %}
      <tr>
        <td><a href="{% url 'action:geo_view' loc.locid %}">{{ loc.name }}</a>
          {% if loc.in_location %} in 
            <a href="{% url 'action:geo_view' loc.in_location.id %}">{{ loc.in_location.name }}</a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>
  {% if truncated %}
    <tr>{{ truncated }}</tr>
  {% endif %}
{% else %}
  <p>No events directly at this level.</p>
{% endif %}
{% if sublocations %}
  <h1>Plus {{ sublocations|length }} locations in and around {{ sublocation_parent }}</h1>
  <p>
    {% for loc in sublocations %}
      <a href="{% url 'action:overview_by_name' %}?locid={{ loc.id }}">{{ loc.name }}</a>{% if loc != sublocations|last %}&nbsp;&nbsp;&nbsp; {% endif %}
    {% endfor %}
  </p>
{% endif %}
{% endblock %}