{% extends "base_generic.html" %}

{% block content %}

<h1>Location Overview</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% if locations %}
  <table>
    <thead>
      <td>#Events</td>
      <td>Reported<br/>Participants</td>
      <td>Photos</td>
      <td>First Date</td>
      <td>Event Type</td>
      <td>Location</td>
    </thead>
    {% for loc in locations %}
      {% for gat in loc.gatherings %}
        <tr>
          {% if gat.count == 1 %}
            <td/>
          {% else %}
            <td>{{ gat.count }}</td>
          {% endif %}
          <td>{{ gat.participants }}</td>
          {% if gat.photos == 0 %}
            <td/>
          {% else %}
            <td>{{ gat.photos }}</td>
          {% endif %}
          <td>{{ gat.start_date }}</td>
          <td>{{ gat.gathering_type }}</td>
          <td><a href="{% url 'action:overview' gat.regid %}">{{ loc.name }}</a></td>
        </tr>
      {% endfor %}
    {% endfor %}
  </table>
  {% if truncated %}
    <tr>{{ truncated }}</tr>
  {% endif %}
{% else %}
  <p>No matching events.</p>
{% endif %}
{% endblock %}