{% extends "base_generic.html" %}

{% block content %}

{% if not location and not sublocation_parent and locations %}
  <h1>Multiple locations found</h1>
{% elif not location and not sublocation_parent %}
  <h1>No such location found</h1>
{% else %}
  <h1>Location Overview {% if sublocation_parent %} of {{ sublocation_parent }}{% endif %}</h1>
  {% if sublocation_parent and sublocation_parent.in_location %}
    <p>in <a href="{% url 'action:overview_by_name' %}?locid={{ sublocation_parent.in_location.id }}">
      {{ sublocation_parent.in_location.name }}</a>
    </p>
  {% endif %}
{% endif %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% if locations %}
  <table>
    <thead>
      <td>#Events</td>
      <td>Reported<br/>Participants</td>
      <td>Photos</td>
      <td>First Date</td>
      <td>Event Type</td>
      <td>Location</td>
    </thead>
    {% for loc in locations %}
      {% for gat in loc.gatherings %}
        <tr>
          {% if gat.count == 1 %}
            <td/>
          {% else %}
            <td>{{ gat.count }}</td>
          {% endif %}
          <td>{% if gat.participants %}{{ gat.participants }}{% endif %}</td>
          {% if gat.photos == 0 %}
            <td/>
          {% else %}
            <td>{{ gat.photos }}</td>
          {% endif %}
          <td>{{ gat.start_date }}</td>
          <td>{{ gat.gathering_type }}</td>
          <td><a href="{% url 'action:overview' gat.regid %}">{{ loc.name }}</a>
            {% if loc.in_location %} in 
              <a href="{% url 'action:overview_by_name' %}?exact=t&location={{ loc.in_location.name }}">
                {{ loc.in_location.name }}</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    {% endfor %}
  </table>
  {% if truncated %}
    <tr>{{ truncated }}</tr>
  {% endif %}
{% else %}
  <p>No events directly at this level.</p>
{% endif %}
{% if sublocations %}
  <h1>{{ sublocations|length }} Locations in {{ sublocation_parent }}</h1>
  <p>
    {% for loc in sublocations %}
      <a href="{% url 'action:overview_by_name' %}?locid={{ loc.id }}">{{ loc.name }}</a>{% if loc != sublocations|last %}&nbsp;&nbsp;&nbsp; {% endif %}
    {% endfor %}
  </p>
{% endif %}
{% endblock %}