{% extends "base_generic.html" %}

{% block title %}
    <title>Organizations Overview - Gamechanger Action Tracker</title>
{% endblock %}

{% block content %}
  {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
  {% if user.is_authenticated or logginbypass %}
  {% if organization %}
    <div>
      <h1>{{organization.name}}</h1>

        {% if contact_list %}
          <h2>Contacts</h2>
          <table style="width: 50%;" class="table-sort-mark">
            <thead>
              <tr>
                <th>Contact Notes</th>
                <th>Contact Type</th>
                <th>Contact Address</th>
              </tr>
            </thead>
            <tbody>
              {% for contact in contact_list %}
              <tr>
                <td style="padding: 1em;">{{contact.info}}</td>
                <td style="padding: 1em;">{{contact.description}}</td>
                <td style="padding: 1em;" target="_blank"><a href="{{contact.addressacces}}{{contact.address}}" >{{contact.address}}<img style="height: 1em; position: relative; top:-10px;" src="/static/icon-external.png"/></a></td>

              </tr>
              {% endfor %}
            </tbody>
          </table>
        {%endif%}

        <h2>Activity</h2>
        {% include 'event_list.html' %}
        {% endif %}
        
    </div>
  {% else %}
    <div>
      <p>None</p>
    </div>
  {% endif %}
{% endblock %}