{% extends "base_generic.html" %}

{% block title %}
    <title>Organizations Overview - Gamechanger Action Tracker</title>
{% endblock %}

{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% if user.is_authenticated or logginbypass %}
<div>
  <h2>Organizations List</h2>
  <ul>
    {% for region, organizations in organizations_region_dict.items %}
    <div style="margin-bottom: 2em; background-color: whitesmoke; border-radius: 12px; width: fit-content; padding: 1em; padding-top: 0.01em;">
      <h2><a href="{% url 'action:geo_view' region.id %}">{{region}}</a> </h2>
      <table>
        <thead>
          <th>Region</th>
          <th>Organization</th>
          <th>Contact</th>
        </thead>
        <tbody>
          {% for organizationcontact in organizations %}
          <tr>
            {% with organization=organizationcontact|first %}
            <td style="text-align: center; margin-top: 0px; vertical-align: top;">
              <a href="{% url 'action:geo_view' organization.primary_location.id %}">{{organization.primary_location}}</a> 
            </td>
            <td>
              <a href="{% url 'action:organization_view' organization.id %}">{{organization.name}}</a>
            </td>
            {% endwith %}
            <td>
              <ul>
                {% if organization.primary_email %}
                <li>{{organization.primary_email}}</li>
                {% endif %}
                {% for contact in organizationcontact|last %}
                <li>
                  <a href="{{contact.adressacces}}{{contact.adress}}" target="_blank">{{contact.description}}<sup><sup><img src="/static/icon-external.png"/></sup></sup></a>
                </li>
                {% endfor %}
              </ul>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endfor %}
  </ul>
  {% endif %}
</div>
{% endblock %}