{% extends "base_generic.html" %}

{% block title %}
      <title>Start - Gamechanger Action Tracker</title>
{% endblock %}

{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

  <div style="width: 15.75em; padding: 0.25em; background-color: #ffffff; border: 1px solid #eeeeee;">
    <h3 style="margin-top: 0.25em; margin-bottom: 0.25em;">Weeks: <span id="weeksinput">{{filter_weeks}}</span></h3>
    <form action="{% url 'action:start' %}" method="POST">
      {% csrf_token%}
      <input style="margin-bottom: -0.20em;" type="range"  id="weeksoutput" name="filter_weeks" value="{{filter_weeks}}" min="1" max="4" oninput="document.getElementById('weeksinput').innerHTML = document.getElementById('weeksoutput').value"/>
      <input type="submit" value="Filter"/>
    </form>
  </div>

  <div>
    <h2 style="margin-bottom: 0.25em;">Latest Reports</h2>
    <table>
      <thead>
        <tr>
          <th sort="int-true">Latest</th>
          <th sort="dat-false">Date</th>
          <th>Map</th>
          <th sort="str-false">Location</th>
          <th sort="str-false">Host</th>
          <th sort="int-false">Participants</th>
          <th>Photo</th>
        </tr>
      </thead>
      <tbody>
        {% for report in report_list %}
        <tr>
          <td style="text-align: center;">
            <span>{{report.0}}</span>
          </td>
          <td> 
            <span>{{report.1}}</span>
          </td>
          {% if report.2 %}
          <td style="text-align: center;">
            <a target="_blank" href="https://map.fridaysforfuture.org/?e={{report.2}}">🌐<sup><sup>🔗</sup></sup></a>
          </td>
          <td>
            <a href="{% url 'action:geo_view' report.3|first %}">{{report.3|last}}</a>
          </td>
          {% else %}
          <td style="text-align: center;">
            ❌
          </td>
          <td>
            <span>Unknown Place</span>
          </td>
          {% endif %}
          <td>
            {% if report.4 %}
            <span>{{report.4}}</span>
            {% else %}
            <span hidden="true">z-sort</span>
            {% endif %}
          </td>
          <td style="text-align: right;">
            {% if report.5 %}
            <span>{{report.5}}</span>
            {% else %}
            <span>?</span>
            {% endif %}
          </td>
          <td style="text-align: center;">
            {% if report.6 %}
              <a style="margin-bottom:-0em;" target="_blank" href="{{ report.6 }}">
                {% if "facebook.com" in report.6 or "scontent" in report.6 %}
                  <img src="/static/icon_fb30.jpg"/>
                {% elif "instagram.com" in report.6 %}
                  <img src="/static/icon_insta30.jpg"/>
                {% elif "twitter.com" in report.6 %}
                  <img src="/static/icon_twitter30.jpg"/>
                {% else %}🖼{% endif %}
                <sup><sup>🔗</sup></sup></a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div>
    <h2 style="margin-bottom: 0.25em;">Upcoming Events</h2>
    <table>
      <thead>
        <tr>
          <th sort="dat-true">Date</th>
          <th sort="str-false">Type</th>
          <th>Map</th>
          <th sort="str-false">Location</th>
          <th sort="str-false">Host</th>
          <th sort="int-false">Expected Participants</th>
        </tr>
      </thead>
      <tbody>
        {% for gathering in gathering_list %}
        <tr>
          <td>
            <span>{{gathering.0}}</span>
          </td>
          <td>
            <span>{{gathering.1}}</span>
          </td>
          <td style="text-align: center;">
            <a target="_blank" href="https://map.fridaysforfuture.org/map?e={{gathering.2}}">🌐<sup><sup>🔗</sup></sup></a>
          </td>
          <td>
            <a href="{% url 'action:geo_view' gathering.3|first %}">{{gathering.3|last}}</a>
          </td>
          <td>
            {% if gathering.4 %}
            <span>{{gathering.4}}</span>
            {% else %}
            <span hidden>z-sort</span>
            {% endif%}
          </td>
          <td style="text-align: right;">
            {% if gathering.5 %}
            <span>{{gathering.5}}</span>
            {% else %}
            <span>?</span>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div>
    <h2 style="margin-bottom: 0.25em;">Activity Leaderboard</h2>
    <table>
      <thead>
        <th sort="str-false">Country</th>
        <th sort="int-true">Events</th>
        <th sort="int-false">Reports</th>
      </thead>
      {% for location in leaderboard_list %}
      <tr>
        <td>
          <a href="{% url 'action:geo_view' location.1 %}" >{{location.0}}</a>
        </td>
        <td>
          <span>{{location.2}}</span>
        </td>
        <td>
          <span>{{location.3}}</span>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}