{% extends "base_generic.html" %}

{% block title %}
      <title>Event Overview - Gamechanger Action Tracker</title>
{% endblock %}

{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
  <table class="table-sort-mark">
    <thead>
      <td>Country</td>
      <td>Records</td>
    </thead>
    {% for location, reports, locid in reports_list %}
    <tr>
      <td>
        <a href="{% url 'action:geo_view' locid %}" >{{location }}</a>
      </td>
      <td> 
        {{ reports }}
      </td>
    </tr>
    {% endfor %}
  </table>

{% endblock %}
