<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}
      <title>Gamechanger Action Tracker</title>
    {% endblock %}

    {% block navbar %}
      <div style="background-color:#cccccc; white-space:nowrap;">
       {% if user.is_authenticated %}
         <div style="display: inline-block;">Gamechanger.eco Action Tracker&nbsp;&nbsp;&nbsp;</div>
         <div style="display: inline-block;">Welcome, {{ user.get_username }}&nbsp;&nbsp;&nbsp;</div>
         <div style="display: inline-block;"><a href="{% url 'action:home' %}">Your Home</a>&nbsp;&nbsp;&nbsp;</div>
         <div style="display: inline-block;"><a href="{% url 'action:logout' %}?next={{request.path}}">Logout</a>&nbsp;&nbsp;&nbsp;</div>
       {% else %}
         <div style="display: inline-block;">
           Gamechanger.eco Action Tracker&nbsp;&nbsp;&nbsp;
           Hello, Stranger!&nbsp;&nbsp;&nbsp;
           <a href="{% url 'action:login' %}?next={{request.path}}">Login</a> or 
           <a href="{% url 'action:join_us' %}?next={{request.path}}">Join Us</a>
        </div>
       {% endif %} 
      </div>
    {% endblock %}

  </head>
  <body>
    {% block content %}<!-- default content text (typically empty) -->{% endblock %}
  </body>
</html>