<style>
  .table_wrap{
    width:100%;
    /*min-width:370px;*/
    overflow-x:scroll;
  }

  table{
    /*width:100%;
    max-width:960px;
    min-width: 480px;*/
    white-space: nowrap;
  }

  th{
    padding:0.5em;
  }

  td{
    padding:0.25em;
  }

  .recorded{
    background-color:#1DA64A !important;
  }

  .notrecorded{
    background-color:#A5A51D !important;
  }

  .record{
    overflow-x:scroll; /* FIXME remove this */
  }
</style>
{% block table %}
{% if event_head %}
<div class="table_wrap">
  <table>
    <thead>
        <tr>
          {% if event_head.date %}
            <th class="th_date">
              Date{% if event_head.date_end %} - End Date {% endif %}
            </th>
            <th>Rec</th>
          {% endif %}

          {% if event_head.activity_type %}
            <th class="th_activity_type">
              Activity Type
            </th>
          {% endif %}

          {% if event_head.overview %}
            <th class="th_overview">
              Overview
            </th>
          {% endif %}

          {% if event_head.gtype %}
            <th class="th_gtype">
              Action Type
            </th>
          {% endif %}

          {% if event_head.location %}
            <th class="th_location">
              {% if event_head.country %}Country; {% endif %}
              Location
            </th>
          {% endif %}

          {% if event_head.map_link %}
            <th class="th_map_link">
              Map
            </th>
          {% endif %}

          {% if event_head.participants %}
            <th class="th_participants">
              Participants
            </th>
          {% endif %}

          {% if event_head.event_link %}
            <th class="th_event_link">
              Event Link
            </th>
          {% endif %}

          {% if event_head.recorded_link %}
            <th class="th_recorded_link">
              Media Record Link
            </th>
          {% endif %}

          {% if event_head.orgs %}
            <th class="th_organization">
              Organization
            </th>
          {% endif %}

          {% if event_head.steward %}
            <th class="th_steward">
              Steward
            </th>
          {% endif %}

          {% if event_head.note_address or event_head.note_time %}
            <th class="th_gtype">
              Notes
            </th>
          {% endif %}
        </tr>
    </thead>
    <span hidden>{{event_head}}</span>
    <tbody>
      {% for event in event_list %}
        <tr>
          {% if event_head.date %}
            <td class="td_date">
              {% if event_head.recorded %}
                <form action="{% url 'action:geo_update' %}" method="POST">
                  {% csrf_token %}
                  {% if event.record %}
                    <input type="hidden" value="False" name="isnewevent"/>
                    <input type="hidden" value="{{event.model.gathering.regid}}" name="regid"/>
                    <input type="hidden" value="{{event.model.gathering.location.id}}" name="locid"/>
                    <input type="hidden" value="{{event.model.pk}}" name="witness"/>
                    <input type="submit" value="{% if event.date %}{{event.date|date:'Y-m-d'}}{% endif %}" class="{% if event.recorded %}recorded{% else %}notrecorded{% endif %}"/>
                  {% else %}
                    <input type="hidden" value="True" name="isnewevent"/>
                    <input type="hidden" value="{{event.model.regid}}" name="regid"/>
                    <input type="hidden" value="{{event.location.id}}" name="locid"/>
                    <input type="hidden" value="" name="witness"/>
                    <input type="submit" value="{% if event.date %}{{event.date|date:'Y-m-d'}}{% if event_head.date_end %} - {{event.date_end|date:'Y-m-d'}}{%endif%}{% endif %}" class="{% if event.recorded %}recorded{% else %}notrecorded{% endif %} record"/>
                  {% endif %}
                </form>
              {% else %}
                {% if event.date %}{{event.date|date:'Y-m-d'}}{% if event_head.date_end %}{% if event.date_end%} - {{event.date_end|date:'Y-m-d'}}{% endif %}{%endif%}{% endif %}
              {% endif %}
            </td>
            <td>
              <form action="{% url 'action:geo_one_more' %}" method="POST">
                {% csrf_token %}
                {% if event.record %}
                  <input type="hidden" value="{{is_one_more}}" name="is_one_more"/>
                  <input type="hidden" value="False" name="isnewevent"/>
                  <input type="hidden" value="{{event.model.gathering.regid}}" name="regid"/>
                  <input type="hidden" value="{{event.model.gathering.location.id}}" name="locid"/>
                  <input type="hidden" value="{{event.model.pk}}" name="witness"/>
                {% else %}
                  <input type="hidden" value="{{is_one_more}}" name="is_one_more"/>
                  <input type="hidden" value="False" name="isnewevent"/>
                  <input type="hidden" value="{{event.model.regid}}" name="regid"/>
                  <input type="hidden" value="{{event.location.id}}" name="locid"/>
                  <input type="hidden" value="" name="witness"/>
                {% endif %}
                <input type="submit" value="+" class="recorded"/>
              </form>
            </td>
          {% endif %}

          {% if event_head.activity_type %}
            <td class="td_activity_type">
              {{event.activity_type}}
            </td>
          {% endif %}

          {% if event_head.overview %}
            <td class="td_overview">
              {% if event.overview %}
                <a href="{% url 'action:gathering_view' event.overview %}"><img alt="Link" src="/static/overview.png"/></a>
                <!--{% if event.record %} (Record) {% endif %}-->
                <!--{% if not event.record %} (Event) {% endif %}-->
              {% endif %}
            </td>
          {% endif %}

          {% if event_head.gtype %}
            <td class="td_gtype">
              {% if event.gtype %}
                {{event.gtype}}
              {% endif %}
            </td>
          {% endif %}

          {% if event_head.location %}
            <td class="td_location">
              {% if event_head.country %}
                  <a href={% url 'action:geo_view' event.country.id %}>{{event.country}}</a>{% if event.location %}; {% endif %}
                {% endif %}
                {% if event.location %}
                  <a href={% url 'action:geo_view' event.location.id %}>{{event.location}}</a>
                {% endif %}
            </td>
          {% endif %}

          {% if event_head.map_link %}
            <td class="td_map_link">
              {% if event.map_link %}
                <a href={{event.map_link}} target="_blank"><img alt="Link" src="/static/icon_globe{% if event.location.lon < -30 %}US{% elif event.location.lon > 60 %}AU{% elif event.location.lon > -30 and event.location.lon < 60 %}EU{% endif %}.png"/></a>
              {% endif %}
            </td>
          {% endif %}

          {% if event_head.participants %}
            <td class="td_participants">
              {% if event.participants %}
                {{event.participants}}
              {% endif %}
            </td>
          {% endif %}

          {% if event_head.event_link %}
            <td class="td_recorded_link">
              {% if event.event_link %}
                <a href={{event.event_link}}>
                  <img alt="Link" 
                    {% if "facebook.com" in event.event_link or "scontent" in event.recorded_link %}src="/static/icon_fb30.png"
                    {% elif "instagram.com" in event.event_link %}src="/static/icon_insta30.png"
                    {% elif "twitter.com" in event.event_link %}src="/static/icon_twitter30.png"
                    {% elif "youtube.com" in event.event_link %}src="/static/icon_yt30.png"
                    {% else %}src="/static/icon_pic.png"
                    {% endif %}
                  />
                </a>
              {% endif %}
            </td>
          {% endif %}

          {% if event_head.recorded_link %}
            <td class="td_recorded_link">
              {% if event.recorded_link %}
                <a href={{event.recorded_link}}>
                  <img alt="Link" 
                    {% if "facebook.com" in event.recorded_link or "scontent" in event.recorded_link %}src="/static/icon_fb30.png"
                    {% elif "instagram.com" in event.recorded_link %}src="/static/icon_insta30.png"
                    {% elif "twitter.com" in event.recorded_link %}src="/static/icon_twitter30.png"
                    {% elif "youtube.com" in event.recorded_link %}src="/static/icon_yt30.png"
                    {% else %}src="/static/icon_pic.png"
                    {% endif %}
                  />
                </a>
              {% endif %}
            </td>
          {% endif %}

          {% if event_head.orgs %}
            <td class="td_organization">
              {% if event.orgs %}
                <a href="{% url 'action:organization_view' event.orgs.id %}">{{event.orgs}}</a>
              {% endif %}
            </td>
          {% endif %}

          {% if event_head.note_address or event_head.note_time %}
            <td class="td_gtype">
              {% if event.note_address %}
                {{event.note_address}}<br/>
              {% endif %}
              {% if event.note_time %}
                {{event.note_time}}
              {% endif %}
            </td>
          {% endif %}

          {% if event_head.steward %}
          <td clqss="td_gtype">
            {% if event.steward %}
              {{event.steward}}
            {% endif %}
          </td>
        {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
{% endblock%}