body {
  font: 16px "Arial";
  font-weight: normal;
  color: black;
  padding: 0px;
  margin: 0px;
  line-height: 145%;/*normal*/

}
div.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
a {
  text-decoration: none;
  color: #6969FF;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: #0000C0;
}

.list_table {
  border-collapse: collapse;
  border-color: gray;
  border-width: 1px;
}
#tblstats td {
  font: 9px "Arial";
  font-weight: bold;
  color: black;
  padding: 2px 2px;
}
#tblstats th {
  font: 9px "Arial";
  font-weight: bold;
  color: black;
  padding: 5px 2px;
}
h1 {
  font: 30px "Arial";
  font-weight: normal;
  color: black;
}
h2 {
  font: 24px "Arial";
  font-weight: normal;
  color: black;
}
h3 {
  font: 20px "Arial";
  font-weight: normal;
  color: black;
}
h4 {
  font: 16px "Arial";
  font-weight: bold;
  color: black;
}
h5 {
  font: 16px "Arial";
  font-weight: normal;
  color: #d12e29;
	margin-block-start: 0.2em;
	margin-block-end: 0.2em;}
h6 {
  font: 16px "Arial";
  font-weight: normal;
  color: #C0C000;
  margin-block-start: 0;
  margin-block-end: 0;
}
img {
	max-width: 100%; 
	height: auto; 
}
.nodisplay {
	display: none;
}
.tight {
  border: 0px;
  padding: 0px;
  margin: 0px;
}
.spacy {
  border: 0px;
  padding: 12px;
  margin: 0px;
}
.imgContainer {
  font-size: 0px;
}
.bigger {
  font-size: 16px;
}
.smaller {
  font-size: 9px;
}
.ssmall {
  font-size: 6px;
}
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.maxbox {
  max-width: 800px;
  margin: auto;
 }
.maxbox99 {
  max-width: 99%;
  margin: auto;
 }
.thinborder {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 10px;
}

.iblock {display: inline-block}
.bborder {border-width: 6px;}

.ok_blue {background: #9DE1E9;}
.ok_graypink {background: #DFC3B9;}
.ok_violet {background: #D8DAF6;}
.ok_must {background: #EEF05C;}
.ok_mustdark {background: #E5E800;}
.ok_ligray {background: #EBEBEB;}

.okb_blue {border-color: #9DE1E9; background: white;}
.okb_graypink {border-color: #DFC3B9; background: white;}
.okb_violet {border-color: #D8DAF6; background: white;}
.okb_must {border-color: #EEF05C; background: white;}
.okb_mustdark {border-color: #E5E800; background: white;}
.okb_ligray {border-color: #EBEBEB; background: white;}

.rcorners2 {
  border-radius: 20px; /*14px*/
  background: #F4F5A3;/*#FEFF91 #E5E800 #FFFF80;#34A21A 77b55a  #81D05A  #B9FB99 #ABEF89*/
  padding: 12px 24px; /*  5px 15px */
  line-height: 300%;

}.rcorners2:hover {
  background: #E5E800; /*#FFFFC0#B9FB99;#BFFEA0*/
}

.rcorners1 {
  border-radius: 10px; /*14px*/
  background: #F4F5A3;/*#FEFF91 #E5E800 #FFFF80;#34A21A 77b55a  #81D05A  #B9FB99 #ABEF89*/
  padding: 0px 10px; /*  5px 15px */

}.rcorners1:hover {
  background: #E5E800; /*#FFFFC0#B9FB99;#BFFEA0*/
}

.box1 {
  border: 1px solid #ccc;
  border-collapse: collapse;
  border-radius: 6px;
  background: #EEF05C;/*#FFFF40#ffff80#E5E800;#ffff80 #ABEF89 #FEFF91*/
  border-collapse: collapse;
  padding: 10px;
}
.box2 {
  float: left;
  width: 45%;
  margin: 10px;
  border: 1px solid black;
}
.box2clear {
  float: left;
  clear: left;/*No floating elements allowed on the left side*/
  width: 45%;
  margin: 10px;
  border: 1px solid black;
}
.box3 {
  border: 1px solid black;
  border-radius: 6px;
  background: #fff;
  border-collapse: collapse;
  padding: 10px;
}
.rbox {
  border: 1px solid #ccc;
  /* border-width: 4px;*/
  border-style: solid;
  border-collapse: collapse;
  border-radius: 6px;
  padding: 10px;
}
.rbox-gr {
  border: 1px solid #ccc;
  /* border-width: 4px;*/
  border-style: solid;
  border-collapse: collapse;
  border-radius: 6px;
  padding: 10px;
  background: #ddd;/*#FFFF40#ffff80#E5E800;#ffff80 #ABEF89 #FEFF91*/
}
.rbox-y {
  border: 1px solid #ccc;
  /* border-width: 4px;*/
  border-style: solid;
  border-collapse: collapse;
  border-radius: 6px;
  padding: 10px;
  background: #EEF05C;/*#FFFF40#ffff80#E5E800;#ffff80 #ABEF89 #FEFF91*/
}

#menu {
  font: 18px "Arial";
  font-weight: normal;
  color: #dddddd;
  background: #2ca724;
  padding: 0px;
  margin: 0px;
} /*#B63A4F #2CA724 #0E3787*/
* {
  box-sizing: border-box;
}
.box {
  float: left;
  width: 33.33%;
  padding: 50px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
#menu > a:link {
  color: #dddddd;
}
#menu > a:visited {
  color: #dddddd;
}
#menu > a:hover {
  color: #fff;
}
#menu > a:active {
  color: #fff;
}

#text_area {
  height: 100px;
}

div.csv-code {
  padding: 10px;
  margin: 25px;
  background: #e8e8e8;
}

div.upload-status-success {
  color: #3e7327;
}

div.upload-status-error {
  color: #d12e29;
}

@media (min-width: 992px) {
  /* big screens */
  #main {
    width: 800px;
    float: left;
  }
  #puff {
    width: 25%;
    float: left;
  }
  #text_area {
    width: 300px;
  }
  #menu > a {
    padding: 12px 20px;
    text-decoration: none;
    /*line-height: normal;*/
  }
  .box2 {
    float: left;
    width: 45%;
    margin: 10px;
  }
}
@media (max-width: 991px) {
  /* small screens */
  #main {
    width: 100%;
    float: left;
  }
  #puff {
    width: 100%;
    float: left;
  }
  #text_area {
    width: 300px;
  }
  #menu > a {
    padding: 12px 20px;
    text-decoration: none;
    /*line-height: 175%;*/
  }
  .box2 {
    float: left;
    width: 45%;
    margin: 10px;
  }
}
@media (max-width: 500px) {
  /* smallest screens */
  #main {
    width: 100%;
    float: left;
  }
  #puff {
    width: 100%;
    float: left;
  }
  #text_area {
    width: 100%;
  }
  #menu > a {
    padding: 12px 20px;
    text-decoration: none;
    /*line-height: 250%;*/
  }
  .box2 {
    float: left;
    width: 100%;
    margin: 10px;
  }
}

.myButton {
  -moz-box-shadow: 0px 10px 14px -7px #3e7327;
  -webkit-box-shadow: 0px 10px 14px -7px #3e7327;
  box-shadow: 0px 10px 14px -7px #3e7327;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #72b352));
  background: -moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
  background: -webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
  background: -o-linear-gradient(top, #77b55a 5%, #72b352 100%);
  background: -ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
  background: linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
  background-color: #77b55a;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #4b8f29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 2em;
  font-weight: bold;
  padding: 28px 61px;
  margin: 10px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #5b8a3c;
}
.myButton:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #72b352), color-stop(1, #77b55a));
  background: -moz-linear-gradient(top, #72b352 5%, #77b55a 100%);
  background: -webkit-linear-gradient(top, #72b352 5%, #77b55a 100%);
  background: -o-linear-gradient(top, #72b352 5%, #77b55a 100%);
  background: -ms-linear-gradient(top, #72b352 5%, #77b55a 100%);
  background: linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#77b55a',GradientType=0);
  background-color: #72b352;
}
.myButton:active {
  position: relative;
  top: 1px;
}

.myButton_color2 {/*#5EA5DB #349BD0 */
  -moz-box-shadow: 0px 10px 14px -7px #3e7327;
  -webkit-box-shadow: 0px 10px 14px -7px #3e7327;
  box-shadow: 0px 10px 14px -7px #3e7327;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5EA5DB), color-stop(1, #349BD0));
  background: -moz-linear-gradient(top, #5EA5DB 5%, #349BD0 100%);
  background: -webkit-linear-gradient(top, #5EA5DB 5%, #349BD0 100%);
  background: -o-linear-gradient(top, #5EA5DB 5%, #349BD0 100%);
  background: -ms-linear-gradient(top, #5EA5DB 5%, #349BD0 100%);
  background: linear-gradient(to bottom, #5EA5DB 5%, #349BD0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5EA5DB', endColorstr='#349BD0',GradientType=0);
  background-color: #5EA5DB;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #4b8f29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 2em;
  font-weight: bold;
  padding: 28px 61px;
  margin: 10px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #5b8a3c;
}
.myButton_color2:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #349BD0), color-stop(1, #5EA5DB));
  background: -moz-linear-gradient(top, #349BD0 5%, #5EA5DB 100%);
  background: -webkit-linear-gradient(top, #349BD0 5%, #5EA5DB 100%);
  background: -o-linear-gradient(top, #349BD0 5%, #5EA5DB 100%);
  background: -ms-linear-gradient(top, #349BD0 5%, #5EA5DB 100%);
  background: linear-gradient(to bottom, #349BD0 5%, #5EA5DB 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#349BD0', endColorstr='#5EA5DB',GradientType=0);
  background-color: #349BD0;
}
.myButton_color2:active {
  position: relative;
  top: 1px;
}

.myButton2 {
  -moz-box-shadow: 0px 10px 14px -7px #3e7327;
  -webkit-box-shadow: 0px 10px 14px -7px #3e7327;
  box-shadow: 0px 10px 14px -7px #3e7327;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #69A44C));
  background: -moz-linear-gradient(top, #77b55a 5%, #69A44C 100%);
  background: -webkit-linear-gradient(top, #77b55a 5%, #69A44C 100%);
  background: -o-linear-gradient(top, #77b55a 5%, #69A44C 100%);
  background: -ms-linear-gradient(top, #77b55a 5%, #69A44C 100%);
  background: linear-gradient(to bottom, #77b55a 5%, #69A44C 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#69A44C',GradientType=0);
  background-color: #77b55a;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #4b8f29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-weight: normal;
  /*font-size: 1.5em;
  padding: 10px 30px;
  margin: 10px;*/
  font-size: 1em;
  padding: 5px 15px;
  margin: 8px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #5b8a3c;
}
.myButton2:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #69A44C), color-stop(1, #77b55a));
  background: -moz-linear-gradient(top, #69A44C 5%, #77b55a 100%);
  background: -webkit-linear-gradient(top, #69A44C 5%, #77b55a 100%);
  background: -o-linear-gradient(top, #69A44C 5%, #77b55a 100%);
  background: -ms-linear-gradient(top, #69A44C 5%, #77b55a 100%);
  background: linear-gradient(to bottom, #69A44C 5%, #77b55a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#69A44C', endColorstr='#77b55a',GradientType=0);
  background-color: #69A44C';
}
.myButton2:active {
  position: relative;
  top: 1px;
}
.myButton2_color2 {
  -moz-box-shadow: 0px 10px 14px -7px #3e7327;
  -webkit-box-shadow: 0px 10px 14px -7px #3e7327;
  box-shadow: 0px 10px 14px -7px #3e7327;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5EA5DB), color-stop(1, #349BD0));
  background: -moz-linear-gradient(top, #5EA5DB 5%, #349BD0 100%);
  background: -webkit-linear-gradient(top, #5EA5DB 5%, #349BD0 100%);
  background: -o-linear-gradient(top, #5EA5DB 5%, #349BD0 100%);
  background: -ms-linear-gradient(top, #5EA5DB 5%, #349BD0 100%);
  background: linear-gradient(to bottom, #5EA5DB 5%, #349BD0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5EA5DB', endColorstr='#349BD0',GradientType=0);
  background-color: #5EA5DB;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #4b8f29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-weight: normal;
  font-size: 1em;
  padding: 5px 15px;
  margin: 8px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #5b8a3c;
}
.myButton2_color2:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #349BD0), color-stop(1, #5EA5DB));
  background: -moz-linear-gradient(top, #349BD0 5%, #5EA5DB 100%);
  background: -webkit-linear-gradient(top, #349BD0 5%, #5EA5DB 100%);
  background: -o-linear-gradient(top, #349BD0 5%, #5EA5DB 100%);
  background: -ms-linear-gradient(top, #349BD0 5%, #5EA5DB 100%);
  background: linear-gradient(to bottom, #349BD0 5%, #5EA5DB 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#349BD0', endColorstr='#5EA5DB',GradientType=0);
  background-color: #349BD0;
}
.myButton2_color2:active {
  position: relative;
  top: 1px;
}
.size1{font-size: 1em;}

.yellow{
	background: yellow;
}